{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}

<main class="container-fluid">
    <div class="blog-detail-image d-flex justify-content-center m-2 mt-5">
        <img src="{{ blog.image.url }}" alt="{{ blog.title }}">
    </div>
    <h1 class="text-center">{{ blog.title }}</h1>
    <p>{{ blog.content|safe }}</p>

    <h3 class="mt-5">Comments</h3>
    <div class="card-body">
    {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal">
                {{ comment.created_on }}
            </span> wrote:
        {{ comment.body | linebreaks }}
        </div>
    </div>
    {% endfor %}

    {% if commented %}
        <div class="alert alert-success" role="alert">
            Your comment is awaiting approval
        </div>
        {% else %}
        {% if user.is_authenticated %}

        <h3>Leave a comment:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form method="post" style="margin-top: 1.3em;">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-signup btn-lg">Submit</button>
        </form>
        {% endif %}
        {% endif %}
 </main> 

 {% endblock content %}