{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
  <div class="blog-header text-center mt-5 mb-5">
    <h2>Welcome to My Health and Fitness Blog</h2>
  </div>

  <div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
              {% for post in post_list %}
              <div class="col-6">
                <div class="card mb-4">
                  <div class="card-body">
                    <h2>{{ post.title }}</h2>
                    <div class="blog-list-image mt-5">
                      {% if "none" in post.image.url %}
                      <img src="{% static 'images/big-image.png' %}">
                      {% else %}
                      <img src=" {{ post.image.url }}">
                      {% endif %}
                    </div>
                    <h4>{{ post.category }}</h4>
                    <h5>{{ post.excerpt }}</h5>
                    <p>{{ post.created_on}}</p>
                    <p><i class="far fa-thumbs-up"></i> {{ post.number_of_likes }}</p>
                  </div>
                </div>
              </div>
              {% if forloop.counter|divisibleby:2 %}
              </div>
              <div class="row">
              {% endif %}
              {% endfor %}
            </div>
        </div>
    </div>
  </div>
</main>
{% endblock content %}
