{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
  <div class="blog-page-header text-center mt-5 mb-5">
    <h2>Welcome to My Health and Fitness Blog</h2>
  </div>

  <div class="container-fluid">
    <div class="row">
        <div class="col-12">
          <div class="row">
            {% for post in post_list %}
            <div class="col-6">
              <div class="card border-0 mb-4">
                <div class="card-body">
                  <div class="card-section d-flex blog-header">
                    <div class="blog-list-image m-5">
                      {% if "none" in post.image.url %}
                      <img src="{% static 'images/big-image.png' %}">
                      {% else %}
                      <img src=" {{ post.image.url }}">
                      {% endif %}
                    </div>
                    <a href='{% url 'blog_detail' post.slug %}'><h4>{{ post.title }}</h4>
                    <h5 >{{ post.excerpt|safe }}</h5>
                    <p>Category: {{ post.category_string }}</p>
                    </a>
                  </div>
                  <strong>
                    {% if user.is_authenticated %}
                    <form class="d-inline" action="{% url 'blog_like' post.slug %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like m-2"><i class="fas fa-thumbs-up"></i></button>
                        {% else %}
                        <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like m-2"><i class="far fa-thumbs-up"></i></button>
                        {% endif %}
                    </form>
                    {% else %}
                    <span class="text-secondary"><i class="far fa-thumbs-up m-2"></i></span>
                    {% endif %}
                <span class="text-secondary">{{ post.number_of_likes }} </span>
                </strong>
                </div>
              </div>
            </div>
            {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">
            {% endif %}
            {% endfor %}
          </div>
        </div>
    </div>
  </div>
  {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
  {% endif %}
</main>
{% endblock content %}
