{% extends 'base.html' %} {% load static %} {% block content %}
<main>
  <div>
    <div class="row page-image mb-5">
      <img src="{% static 'images/send.webp' %}" alt="">
    </div>
    <h2 class="text-center mb-5">
      Thanks for contacting us, we will be in touch very soon
    </h2>
    <h4 class="text-center mb-1">
      Why not have a read of my blog while you are here?
    </h4>
    <div class="row col-6 col-sm-3 col-lg-2 m-auto d-flex justify-content-center">
      <a class="btn btn-dark btn-lg contact-button" href="{% url 'blog' %}" role="button">
        <i class="fa fa-book-open" aria-hidden="true"></i>
        <span>Lets Read</span>
      </a>
    </div>
  </div>
</main>
{% endblock content %}
