{% extends 'base.html' %} {% load static %} {% block content %}
<main>
  <div>
    <div class="row page-image">
      <img src="{% static 'images/success.webp' %}" alt="a happy face">
    </div>

    <div class="mt-5 text-center">
      <h2 class="mb-3">You are booked in with me</h2>
      <h4>Session Type: {{ booking.session_type }} </h4>
      <h5>Notes: {{ booking.notes }} </h5>
      <h5>Date and Time: {{ booking.appointment.date_time }} </h5>
      <p class="col-6 col-md-2 m-auto mt-3">Thank you so much for booking with me, should I need any further information I will be in touch shortly</P>
    </div>

    <h4 class="text-center mt-5 mb-1">
      Want to change something?
    </h4>
    <div class="row col-6 col-sm-3 col-lg-2 m-auto d-flex justify-content-center">
      <a class="btn btn-dark btn-lg contact-button"
        href="{% url 'booking_edit' pk=booking.pk %}">
        <i class="fa-solid fa-pen-to-square" aria-hidden="true"></i>
        <span>Edit</span>
      </a>
    </div>
    <h4 class="text-center mt-5 mb-1">
      Sessions can also be viewed, edited or deleted from your user page
    </h4>
    <div class="row col-6 col-sm-3 col-lg-2 m-auto d-flex justify-content-center">
      <a class="btn btn-dark btn-lg contact-button" href="{% url 'user_account' %}" role="button">
        <i class="fa-solid fa-person" aria-hidden="true"></i>
        <span>Me</span>
      </a>
    </div>
    <h4 class="text-center mt-5 mb-1">
      Why not have a read of my blog while you are here?
    </h4>
    <div class="row col-6 col-sm-3 col-lg-2 m-auto d-flex justify-content-center">
      <a class="btn btn-dark btn-lg contact-button" href="{% url 'blog' %}" role="button">
        <i class="fa fa-book-open" aria-hidden="true"></i>
        <span>Lets Read</span>
      </a>
    </div>
  </div>  
</main>

{% endblock content %}