{% extends 'base.html' %} {% load static %} {% block content %}
<main>
  <h3 class="mt-5">
    Ready to get started, {{ user_name }}? Great, let's walk you through it
  </h3>

  <form method="post" class="mt-4 col-6">
    {% csrf_token %}
    <div class="mt-5 mb-5">
      <label for="id_session_type" class="form-label"
        ><h5>The first thing to select is your session type.</h5>
        <p>
          This is prepopulated with the option you clicked on from the previous
          page but you can change it to anything you want.
        </p></label
      >
      {{ form.session_type }}
    </div>
    <div class="mt-5 mb-5">
      <label for="id_notes" class="form-label"
        ><h5>Next, what would you like to tell me?</h5>
        <p>
          We will cover everything that we need to during the session but it is
          sometimes useful for me to have some information about your aims and
          ambitions before we start. Yoiu can also tell me about any injuries
          you have had or if you have had any help before and if so, why did it
          work (or not work!).
        </p>
        <p></p
      ></label>
      {{ form.notes }}
    </div>
    <input type="hidden" name="user" value="{{ form.initial.user }}" />
    <div class="mt-5 mb-5">
      <label for="id_booking_date_time" class="form-label">
        <h5>Finally we need to find a time for us to meet.</h5>
        <p>
          Select your ideal date and time here and I will confirm the booking
          once I have reviewed it all. Remember, sessions are held at the
          address below and last for one hour.
        </p>
      </label>
      <select
        id="id_appointment"
        name="appointment"
        class="form-control"
      >
        {% for appointment in available_appointments %}
        <option value="{{ appointment.id }}">
          {{ appointment.date_time }}
        </option>
        {% endfor %}
      </select>
    </div>

    <button type="submit" class="btn btn-dark contact-button">
      Book My Session
    </button>
  </form>
</main>

{% endblock content %}
