body {
  color: #fff;
  
  margin: 0 10% ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.col,
.col-4,
.col-8 {
  padding: 0;
}

/*--------------------------------------------Heading*/
header {
  background-color: rgb(70, 22, 154);
  height: 150px;
}

#nav {
  margin: 0px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
}

.nav-button {
  width: 150px;
  height: 150px;
  text-align: center;
}

.nav-button a {
  width: 100%;
  text-decoration: none;
  max-height: 100px;
  color: #fff;
}

.nav-button:hover {
  background: rgba(0, 0, 0, 0.5);
}

.nav-button a i {
  display: block;
  font-size: 2rem;
}

.nav-button span {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.logo {
  background: url("../images/website_logo_white.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*--------------------------------------------Details*/
#details {
  height: 50vh;
  border: 1px solid rgb(255, 192, 203);
}

/*--------------------------------------------Map*/
#map {
  height: 50vh;
  border: 1px solid rgb(255, 192, 203);
}

/*--------------------------------------------Main*/
main {
  height: 100vh;
}

#main-content {
  border: 1px solid rgb(255, 192, 203);
}

/*--------------------------------------------Footer*/
footer {
  background-color: rgb(255, 192, 203);
  border: 1px solid rgb(70, 22, 154);
  min-height: 80px;
}
