main {
  max-width: 1200px;
  margin: auto;
}

.row {
  margin: 0px;
}

.col-2,
.col-6,
.col-4,
.col-5,
.col-8,
.col-12 {
  margin: 0px;
}

/*--------------------------------------------Homepage*/
.section-heading {
  font-weight: 900;
  letter-spacing: 4px;
  border-bottom: #f0eded solid 2px;
  margin-top: 100px;
  margin-bottom: 50px;
}

/*--------------------------------------------Heading*/
#top-row {
  display: flex;
  min-height: 100px;
  background-color: #000000;
  color: #fff;
}

#logo {
  margin: auto;
}

#nav-top {
  height: 90px;
  background-color: #000;
  color: #fff;
  margin: 0px;
  display: flex;
  justify-content: center;
}

#nav {
  height: 90px;
  background-color: #fbf5ed;
  color: #000000;
  margin: 0px;
  display: flex;
  justify-content: center;
}

#nav, #nav-top li {
  padding: 10px;
}

.nav-button {
  max-width: 250px;
  text-align: center;
}

.nav-button a {
  max-width: 100%;
  text-decoration: none;
  color: #000;
}

.nav-button-dark a {
  color: #fff;
}

.nav-button a i {
  display: block;
  font-size: 2rem;
}

.nav-button span {
  display: block;
  max-width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.nav-button:hover {
  background: rgba(0, 0, 0, 0.2);
}

/*--------------------------------------------Hero*/
#hero {
  background: url("../images/hero2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  height: 300px;
  margin: auto;
  margin-top: 50px;
}  

/*--------------------------------------------Featured Blogs*/
#featured-blog-image {
  width: 300px;
}

#featured-blog-image img {
  border-radius: 5%;
}

#featured-blog-text {
  width: 450px;
}

.blog {
  display: flex;
  height: 150px;
}

.blog-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-image img {
  height: 150px;
  width: 150px;
  border-radius: 5%;
}

.blog-selected-entries a {
  text-decoration: none;
  color: #000;
}

.main-featured-blog a {
  text-decoration: none;
  color: #000;
}

/*--------------------------------------------Sessions*/
.session-type {
  height: 200px;
}

.session-image img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.session-text {
  height: 100%;
  padding: 5%;
}

.session-text-right {
  height: 100%;
  padding: 5%;
}

/*--------------------------------------------contact*/
.contact-image img {
  height: 300px;
  width: 150px;
  border-radius: 5%;
  margin-top: 25px;
}

.contact-button:hover {
  color: rgb(15, 149, 233);
  background: rgba(0, 0, 0, 0.2);
}

/*--------------------------------------------info*/
#info-section {
  background-color: #fbf5ed;
  font-weight: 200;
  letter-spacing: 3px;
  margin-top: 100px;
  height: 300px;
  padding: 20px;
}

/*--------------------------------------------Footer*/
footer {
  background-color: rgb(0, 0, 0);
  min-height: 100px;
  color: #fff;
  font-size: 3rem;
  display: flex;
}

.social a {
  text-decoration: none;
  color: #fff;
}

/*--------------------------------------------Blog page*/
.blog-header {
  background-color: #fbf5ed;
  border-radius: 5%;
  padding: 20px;
  height: 400px;
}

.blog-list-image img {
  width: 200px;
  height: 200px;
  border-radius: 5%;
  vertical-align: auto;
}

.card-section a {
  text-decoration: none;
  color: #000;
}

/*--------------------------------------------Blog detail page*/
.blog-detail-image img {
  width: 400px;
  height: 400px;
  border-radius: 5%;
  vertical-align: auto;
}

/*--------------------------------------------Booking page*/

.booking-card {
  background-color: #fbf5ed;
  height: fit-content;
  min-height: 550px;
  text-align: center;
  border-radius: 5%;
}

.booking-card a {
  text-decoration: none;
  color: #000;
}

.booking-card a img {
  height: 150px;
  width: 150px;
  border-radius: 5%;
}

.card-body:hover {
  color: rgb(15, 149, 233);
  background: rgba(0, 0, 0, 0.2);
}

#id_notes {
  border-radius: 5%;
  padding: 10px;
  max-width: 300px;
  box-sizing: border-box;
}

/*--------------------------------------------Image control*/
.page-image img{
  border-radius: 5%;
  max-width: 300px;
  margin: auto;
}

/*--------------------------------------------Media Queries*/
@media (max-width: 1100px) {
  #info-section {
    flex-direction: column !important;
    height: 600px;
  }
}

@media (max-width: 820px) {
  #info-section {
    flex-direction: column !important;
    height: 600px;
    letter-spacing: 2px;
  }

  .nav-button a i {
    display: block;
    font-size: 1.5rem;
  }

  .nav-button span {
    letter-spacing: 0px;
  }

  .nav-link {
    padding: 10px;
  }

  .page-image img {
    max-width: 200px;
  }
}

@media (max-width: 500px) {
  .page-image img {
    display: none;
  }
}