{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if user.is_superuser %}
  {% if unapproved_comments %}
    <div class="bg-warning p-3 text-center">
      <h3>There are unapproved comments to review</h3>
      <a class="btn btn-dark btn-lg contact-button" href="{% url 'admin:index' %}" role="button">Go to Admin</a>
    </div>  
  {% endif %}
{% endif %}

<div id="hero"></div>
    
<main>
  <div class="section-heading">
    <h2>Featured Blog</h2>
  </div>

  <div id="blog" class="row"> 
    <div class="main-featured-blog col-12 col-md-6">
      <a href='{% url 'blog_detail' latest_blog_entry.slug %}'>
        <div class="row" id="featured-blog-image">
          <img src="{{ latest_blog_entry.image.url }}" alt="{{ latest_blog_entry.title }}">
        </div>
        <div class="row" id="featured-blog-text">
          <h2>{{ latest_blog_entry.title }}</h2>
          <h5>{{ latest_blog_entry.excerpt|safe }}</h5>
        </div>
      </a>
    </div>
    <div class="blog-selected-entries col-12 col-md-6">
      {% for entry in selected_entries %}
        <a href='{% url 'blog_detail' entry.slug %}'>
          <div class="blog mb-5">
            <div class="blog-image col-4">
              <img src="{{ entry.image.url }}" alt="{{ entry.title }}">
            </div>
            <div class="blog-text col-12 col-sm-8 col-md-8 p-2">
              <h4>{{ entry.title }}</h4>
              <p>{{ entry.excerpt|safe }}</p>
            </div>  
          </div>
        </a>
      {% endfor %} 
    </div>
  </div>
  <div class="row d-flex justify-content-center m-5">
    <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center">
      <a class="btn btn-dark btn-lg contact-button" href="{% url 'blog' %}" role="button">
        <i class="fa fa-book-open" aria-hidden="true"></i>
        <span>Lets Read</span>
      </a>
    </div>
  </div>

  <div class="section-heading">
    <h2>Session Types</h2>
  </div>

  <div class="row d-flex justify-content-center">
    {% for session in session_types %}
    <div class="col-sm-5">
      <div class="session-image m-auto d-flex justify-content-center">
        <img src="{{ session.image.url }}" alt="{{ session.type }}">
      </div>
      <div class="">
        <h4>{{ session.session_type }}</h4>
        <p>{{ session.excerpt }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  
  
  <div class="row d-flex justify-content-center m-5">
    <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center">
      <a class="btn btn-dark btn-lg contact-button" href="{% url 'booking' %}" role="button">
        <i class="fa fa-dumbbell" aria-hidden="true"></i>
        <span>Let's Meet</span>
      </a>
    </div>
  </div>

  <div class="section-heading">
    <h2>Contact Me</h2>
    
  </div>

  <div id="contact-me" class="row d-flex justify-content-center">
    <div class="contact-image d-flex justify-content-center col-2 m-5">
      <img src="{% static 'images/welcome_contact.jpg' %}" alt="picture of the site owner smiling">
    </div>
    <div class="col-sm-10 col-md-6 m-5">
      <h5>Sarah is a vibrant and accomplished female personal trainer and nutritionist.</h5> 
        <P>With a warm smile and a passion for helping others, she's dedicated to transforming lives through fitness and healthy eating.</P>
        <P>Sarah's approach is not just about physical results, but also about fostering a positive mindset and sustainable lifestyle changes. Her clients describe her as an inspiring motivator who tailors her programs to individual needs, making every session enjoyable and effective.</P>
        <P>As a successful entrepreneur, Sarah has built a thriving community around her, empowering women to embrace their strength and vitality. Her infectious energy and expertise make her a sought-after mentor in the wellness world.</P>
        <h6>Get in touch now to discuss your goals and how we can achieve them.</h6>
    </div>

    <div class="row d-flex justify-content-center m-5">
      <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center">
        <a class="btn btn-dark btn-lg contact-button" href="{% url 'contact' %}" role="button">
          <i class="fa fa-comment" aria-hidden="true"></i>
          <span>Lets Talk</span>
        </a>
      </div>
    </div>
    
  </div>
</main>

{% endblock content %}