{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="hero"></div>
    
<main>
  <div class="section-heading">
    <h2>Featured Blog Posts</h2>
  </div>

  <div id="blog" class="row"> 
    <div class="main-featured-blog col-6">
      <div class="row" id="featured-blog-image">
        <img src="{{ latest_blog_entry.image.url }}" alt="{{ latest_blog_entry.title }}">
      </div>
      <div class="row" id="featured-blog-text">
        <h4>{{ latest_blog_entry.title }}</h4>
        <p>{{ latest_blog_entry.excerpt|safe }}</p>
      </div>
    </div>
    <div class="col-6">
      {% for entry in selected_entries %}
        <div class="blog mb-5">
          <div class="blog-image col-4">
            <img src="{{ entry.image.url }}" alt="{{ entry.title }}">
          </div>
          <div class="blog-text col-8 p-2">
            <h4>{{ entry.title }}</h4>
            <p>{{ entry.excerpt|safe }}</p>
          </div>  
        </div>
      {% endfor %} 
    </div>
  </div>

  <div class="section-heading">
    <h2>Session Types</h2>
  </div>

  <div id="sessions" class="row">
    <div class="row">
      <div class="col-5 session-type">
        <div class="session-image col-4">
          <img src="{% static 'images/small-image.png' %}" class="small-image" alt="{{ about.title }}">
        </div>
        <div class="session-text col-8">
          <h4>Session Type</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </div>
      <div class="col-5 session-type">
        <div class="session-text right col-8">
          <h4>Session Type</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="session-image col-4">
          <img src="{% static 'images/small-image.png' %}" class="small-image" alt="{{ about.title }}">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5 session-type">
        <div class="session-image col-4">
          <img src="{% static 'images/small-image.png' %}" class="small-image" alt="{{ about.title }}">
        </div>
        <div class="session-text col-8">
          <h4>Session Type</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </div>
      <div class="col-5 session-type">
        <div class="session-text right col-8">
          <h4>Session Type</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="session-image col-4">
          <img src="{% static 'images/small-image.png' %}" class="small-image" alt="{{ about.title }}">
        </div>
      </div>
    </div>
  </div>

  <div class="section-heading">
    <h2>Contact Me</h2>
  </div>

  <div id="contact-me" class="row">

  </div>
</main>

{% endblock content %}